version: 2
updates:
  - package-ecosystem: "cargo"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "04:00"
      timezone: "Etc/UTC"
    labels:
      - "dependencies"
    reviewers:
      - "Lowband21"
    groups:
      cargo-patch:
        patterns:
          - "*"
        update-types:
          - "patch"
      cargo-minor:
        patterns:
          - "*"
        update-types:
          - "minor"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "04:00"
      timezone: "Etc/UTC"
    labels:
      - "dependencies"
    reviewers:
      - "Lowband21"
    groups:
      actions:
        patterns:
          - "*"
        update-types:
          - "minor"
          - "patch"

  - package-ecosystem: "docker"
    directory: "/docker"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "04:00"
      timezone: "Etc/UTC"
    labels:
      - "dependencies"
    reviewers:
      - "Lowband21"
    groups:
      docker:
        patterns:
          - "*"
        update-types:
          - "minor"
          - "patch"
