<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".qa.FerrexVisualQaActivity"
            android:exported="true"
            android:label="Ferrex Visual QA">
            <intent-filter>
                <action android:name="com.ferrex.android.action.VISUAL_QA" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
